.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .signup-card {
    width: 100%;
    max-width: 500px; 
    background: linear-gradient(to bottom right,  #81ed9a, #bbe4ea); 
    border: none;
    padding: 20px;
  }
  
  .signup-card .card-body {
    color: white; /* White text color */
  }
  
  .signup-card h2 {
    color: #007bff; 
  }

  .text-center {
    text-align: center;
  }
  
  .d-block {
    display: block;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .mt-3 {
    margin-top: 1rem; /* Adjust top margin */
  }
  